@charset "utf-8";
/*
	Last Update:2019/11/18
	Auther: okada
*/

/*===================================================================
	#top
===================================================================*/
#top_unit{position: relative;}
#main_image { position:relative; }
#main_image .unit .text { position:absolute; top:0; left:0; width:100%; height:100%; }
#main_image .unit .center { display:table; height:100%; }
#main_image .unit .text_in { display:table-cell; }
	@media (max-width: 767px){
		#main_image .unit .center { padding-bottom:50px; }
		#main_image .unit .text_in { vertical-align:bottom; }


	}
	@media (min-width: 768px){
		#main_image,
		#main_image .unit { max-height:calc(100vh - 90px); }
		#main_image .unit .text_in { vertical-align:middle; }
		#main_image .unit .text img { width:58%; }
	}

	@media (min-width: 768px) and (max-width:1599px){
		#main_image .unit .text img {width: 45%; margin-top: 100px; margin-left: 50px;}
	}
	@media (min-width: 1600px)  and (max-width:1919px){
		#main_image .unit .text img { width:50%; }

	}
	@media (min-width: 1920px){
		#main_image .unit .text img { width:60%; }
		#main_image .unit .center { margin-left: 200px;   margin-top: 50px;}
	}


#body{  background: url(../image/contents/top/back.png) no-repeat center top / cover;}

#top_flow .balloon {
	position: absolute;
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 35px;
    text-align: center;
	padding: 5px 0;
    color: #FFB5B1;
    font-weight: bold;
    background: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #FFB5B1;
    top: -3%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
}
#top_flow h2{margin-bottom: 100px;}
#top_flow h2 span.sub{max-width: 150px;}
#top_flow .balloon::before{ content: ''; position: absolute; display: block; bottom: -12px; left: 50%; margin-left: -6px; border-right: 6px solid transparent; border-top: 12px solid #FFB5B1; border-left: 6px solid transparent;}

#top_flow .balloon::after{ content: ''; position: absolute; display: block; width: 0; height: 0; left: 38px; bottom: -10px; border-right: 6px solid transparent; border-top: 12px solid #fff; border-left: 6px solid transparent;}
#top_flow .balloon span{display: block;}
#top_flow .balloon span.step{font-size: 20px;}
#top_flow .balloon span.number{font-size: 40px; font-family: Roboto;}

#top_flow .flow{position: relative;}
#top_flow .box{box-shadow: 0px 2px 7px 0px #ccc; background: #fff; padding: 50px 30px;  border-radius: 5px;}


#top_flow .flow._1 .link{text-align: center; border: 1px solid #0067B7; border-radius: 50px; padding: 5px 0;}

@media (max-width:1199px) and (min-width: 992px){
	#top_flow .box .img{padding: 0 15px}
}
@media (min-width: 1200px){
	#top_flow .box .img{padding: 0 35px}
}
#top_flow .flex .arrow i{color: #F9D3CE; font-size: 3.5em;}

@media (min-width: 768px){
	#top_flow .flex{display: flex;}
	#top_flow .flex .arrow {align-items: center; display: flex; padding: 0 30px;}
}
@media (max-width: 767px){
	#top_flow .flex .arrow{margin-bottom: 100px; text-align: center;}
	#top_flow .flex .arrow i{ font-size: 8em;}
}

#top_contact .back{background: url(../image/contents/top/contact_back.png); border-radius: 5px;    padding: 50px 15px;}


#top_contact h2{color: #FFF;}
#top_contact h2 span.sub{max-width: 230px;}
#top_contact .box{ border-radius: 5px; box-shadow: 0px 2px 7px 0px #ccc; background: #fff; }
#top_contact #tel{padding: 25px 10px;}
#top_contact #mail{padding: 0 10px;}
#top_contact #tel .flex{display: flex;  justify-content: center; }
#top_contact #tel .flex .img{display: flex; align-items: center;}
#top_contact #tel .time{text-align:center; color: #909090;}
#top_contact #tel a { text-decoration:none; color: #FFB0AC; font-size: 40px; font-weight: bold;}
#top_contact #tel img{ width: 50px;}
#top_contact #mail p{color: #FFB0AC; font-size: 28px; font-weight: bold;}
#top_contact #mail p i{margin-right: 10px;}

@media (min-width: 768px){
	#top_contact .unit{padding: 0 50px;}
}
@media (max-width: 991px){
	#top_contact #tel a { font-size: 30px;}
}
@media (max-width: 767px){
	#top_contact #tel {margin-bottom: 10px;}
	#top_contact #tel a{font-size: 27px;}
	#top_contact #tel img { width: 30px;}
}


/*===================================================================
	hl
===================================================================*/
h2 { font-size: 44px; line-height: 125%; color: #FFB5B1; text-align: center;}
h2 span.main{font-weight: bold;}
h2 span.sub{ display: block; display: block;
    margin: 0 auto;}
h3{font-size:30px; text-align: center; color: #FFB5B1; margin-bottom: 20px; font-weight: bold;}
@media (max-width: 767px){
	h2 {font-size: 40px;}
}

/*===================================================================
	button
===================================================================*/
.button,
a.button { display:inline-block; position:relative; text-decoration:none; text-align:center; line-height:100%; border:1px solid #CB4E4E; border-radius: 10px; color:#fff; padding:20px 50px;
/* text-shadow:#6A4428 1px 1px 2px, #6A4428 -1px 1px 2px,#6A4428 1px -1px 2px, #6A4428 -1px -1px 2px; */ font-size:1.15em; background: #CB4E4E; }
.button i { margin:0 5px; position: absolute; right: 15px;}
	@media (max-width: 767px){
		.button { min-width:250px; }
	}
	@media (min-width: 768px){
		.button { min-width:300px; }
	}

.button._back{border: 1px solid #BFBFBF; background: #BFBFBF;}
.button._back i.fas.fa-arrow-left { position:absolute; left:15px; right:auto; }
.button._more { background:#6A4428; border:1px solid #6A4428; color: #FFF; }

.form_button{position: relative; z-index: 50;}

body.pc .button:hover { background:#fff; color:#CB4E4E; text-shadow:none; }
body.pc .button._more:hover { color:#6A4428; }
body.pc .button._back:hover{color: #BFBFBF;}


/*===================================================================
	pc / sp
===================================================================*/
.mb0  { margin-bottom:0 !important; }
.mb5  { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb70 { margin-bottom:70px !important; }
.mb100 { margin-bottom:100px !important; }

.pos_re{position: relative;}
.pos_ab{position: absolute;}

.disp_b { display:block; }
.disp_ib { display:inline-block; }
.disp_tbl { display:table; width: 100%;}
.disp_td { display:table-cell; vertical-align:middle; }

.img_sq, .img_rect, .img_back { background-position:center center; background-repeat:no-repeat; background-size:cover; }
.img_sq > img, .img_rect > img, .img_back > img { visibility:hidden; }

.parallax, .parallax:before, .parallax:after { transition:all .7s; }
body.pc .parallax[data-parallax-in="vertical"],
body.pc .parallax[data-parallax-in="vertical2"],
body.pc .parallax[data-parallax-in="vertical3"] { opacity:1; transform:translateY(0); -webkit-transform:translateY(0); -ms-transform:translateY(0); }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on),
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on) { opacity:0 !important; }
body.pc .parallax[data-parallax-in="vertical"]:not(.parallax_on)  { transform:translateY(30px); -webkit-transform:translateY(30px); -ms-transform:translateY(30px); }
body.pc .parallax[data-parallax-in="vertical2"]:not(.parallax_on) { transform:translateY(60px); -webkit-transform:translateY(60px); -ms-transform:translateY(60px); }
body.pc .parallax[data-parallax-in="vertical3"]:not(.parallax_on) { transform:translateY(90px); -webkit-transform:translateY(90px); -ms-transform:translateY(90px); }
body.pc .parallax[data-parallax-in="left"] { position:relative; left:0; }
body.pc .parallax[data-parallax-in="left"]:not(.parallax_on) { left:-100vw; }

/* font */
.mincho { font-family:"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","Sawarabi Mincho","游明朝","YuMincho","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif; }
.fa_b:before,
.fa_a:after { font-family:"Font Awesome 5 Free"; display:inline-block; font-weight:900; font-style:normal; font-variant:normal; text-rendering:auto;
	line-height:1; -moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased; }

@media (min-width: 768px){
	.pc_none { display:none !important; }
}
@media (max-width: 767px){
	.sp_none { display:none !important; }
	.sp_table_wrap { overflow-x:auto; width:100%; white-space:nowrap; }
	.sp_table_wrap::-webkit-scrollbar { height:10px; }
	.sp_table_wrap::-webkit-scrollbar-track { background:#F1F1F1; }
	.sp_table_wrap::-webkit-scrollbar-thumb { background:#BCBCBC; }
	.sp_table_wrap table { width:100%; }
	.sp_table_wrap table { font-size:13px !important; -webkit-text-size-adjust:100%; -moz-text-size-adjust:none; -ms-text-size-adjust:100%; text-size-adjust:100%; }
}
