<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
AuthUserFile /usr/home/haw1007mxp9i/html/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user
order deny,allow


Options +SymlinksIfOwnerMatch
RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^la-vraie-beaut\.jp
RewriteRule ^(.*) https://www.la-vraie-beaut.jp/$1 [R=301,L]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

#404 エラー
ErrorDocument 404 https://www.la-vraie-beaut.jp/
