Options +SymlinksIfOwnerMatch
RewriteEngine On
RewriteBase /

# SSL統一
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=302,L]

#404 エラー
ErrorDocument 404 https://la-vraie-beaut.jp/
